<p>{{coin_stats}}</p>

<img src="{{coin_logo}}">

<p>
    % change 1hour: {{coin_stats.change.hour}}<br>
    % change 24hours: {{coin_stats.change.day}}<br>
    current price: {{coin_stats.price}}
</p>

<h2>User's personal coins below</h2>
{% if user_coins %}
<ul>
    {% for coin in user_coins %}
    <li>
        Amount: {{coin.amount}} x ${{coin.price}} and id={{coin.id}}
        <a href="{% url 'crypto:detail_edit' coin_symbol=coin_symbol coin_id=coin.id %}">
            <p>EDIT</p>
        </a>
        <a href="{% url 'crypto:detail_delete' coin_symbol=coin_symbol coin_id=coin.id %}">
            <p>DELETE</p>
        </a>
    </li>
    {% endfor %}
</ul>
<p>
    Total sum original: ${{sum_value}}<br>
    Total sum current: ${{sum_value_current}}<br>
    All-time high sum: ${{sum_ath}}<br>
    Sum monthly high: ${{sum_month_h}}<br>
    Sum monthly low: ${{sum_month_l}}
</p>
{% else %}
<p>User doesn't have this coin</p>
{% endif %}

<form method="POST" class="coinform">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="save">Save</button>
</form>