<p>{{coin_stats}}</p>

<img src="{{coin_logo}}">

<p>
    % change 1hour: {{coin_stats.change.hour}}<br>
    % change 24hours: {{coin_stats.change.day}}<br>
    current price: {{coin_stats.price}}
</p>

<h2>User's personal coins below</h2>
{% if user_coins %}
<ul>
    {% for coin in user_coins %}
    <li>
        Amount: {{coin.amount}} x ${{coin.price}}
        <a href="{% url 'crypto:detail_edit' coin_symbol=coin_symbol %}">
            <p>EDIT</p>
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>User doesn't have this coin</p>
{% endif %}

<form method="POST" class="coinform">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="save">Save</button>
</form>