{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- FontAswsome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
        crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>CC_Gains</title>
</head>

<body>
    <div class="container-fluid p-2">
        <div class="row">
            <div class="col-5 col-md-4 small">
                Market Cap: ${{market_cap.market_cap}}
            </div>
            <div class="col-md-3 d-none d-md-block small">
                24h Volume: ${{market_cap.24h_volume}}
            </div>
            <div class="col-7 col-md-5 small text-right">
                change(24h): {{market_cap.change.24h}}% 1h: {{market_cap.change.1h}}% 7d: {{market_cap.change.7d}}%
            </div>

        </div>
    </div>

    <nav class="navbar navbar-expand-sm navbar-custom border-top border-bottom" style="border-color: #F8F9FA;">

        <a class="navbar-brand" style="margin-left: 10px;"><i class="fab fa-bitcoin"></i>CC Gains</a>

        <button class="navbar-toggler " data-toggle="collapse" data-target="#navbarcollapse">
            <i class="fa fa-bars fa-lg"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-sm-end" id="navbarcollapse">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="Stats.html">Statistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Charts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="logout.html">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid sticky-top mb-1" style="background-color: #F8F9FA">
        <div class="row">
            <div class="col-1 col-md-1">
                #
            </div>
            <div class="col-2 col-md-1">
                Name


            </div>
            <div class="col-5 col-sm-4 col-md-3 text-right">
                Price

            </div>
            <div class="col-2 col-md-2 text-right d-none d-sm-block">
                change(1h)

            </div>
            <div class="col-4 col-sm-3 col-md-2 text-right">
                change(24h)

            </div>
            <div class="col-md-3 d-none d-md-block text-right">
                Market Cap

            </div>
        </div>
    </div>
    {% if top_coin_list %}
    {% for coin_rank, coin_info in top_coin_list.items %}
    <div class="container-fluid py-2 border-bottom align-middle" style="border-color: #F8F9FA;">
        <div class="row">
            <div class="col-1 col-md-1">
                {{coin_rank}}
            </div>
            <div class="col-2 col-md-1">
                    <h5><a href="{% url 'crypto:detail' coin_symbol=coin_info.symbol %}" class="badge badge-light">
                    {{coin_info.symbol}}
                </a></h5>


            </div>
            <div class="col-5 col-sm-4 col-md-3 text-right">
                ${{coin_info.price}}

            </div>

            <div class="col-sm-2 col-md-2 text-right d-none d-sm-block">
                {{coin_info.change.hour}}%

            </div>
            <div class="col-4 col-sm-3 col-md-2 text-right">
                {{coin_info.change.day}}%

            </div>
            <div class="col-md-3 d-none d-md-block text-right">
                ${{coin_info.cap}}

            </div>
            <hr>

        </div>
    </div>
    </button>
    {% endfor %}
    {% else %}
    <p>No coins available</p>
    {% endif %}

    <footer class="text-black mt-4">
        <div class="container-fluid py-3">

            <div class="row">
                <div class="col-sm-6">Special thanks to: <span class="small"><br>YOU, for being so cool</span></div>
                <div class="col-sm"></div>
                <div class="col-sm small text-sm-right">©2018 OneStep, Inc.</div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>