{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!

  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
<h4><i class="fas fa-spinner fa-pulse m-2"></i>You are not logged in<i class="fas fa-spinner fa-pulse m-2"></i></h4>
<br>
  <a href="{% url 'login' %}" class="btn btn-outline-secondary">Login</a>
  <a href="{% url 'crypto:signup' %}" class="btn btn-outline-secondary">Signup</a>
{% endif %}
{% endblock %}