
.navbar{
    color:white;
  }
  .fab{
    font-size: 2rem;
    padding-right:1rem;
    color: #FFC107;
    }
  .navbar-brand{
    font-size: 1.5rem;
  }
  
  .navbar-custom {
    background-color: #3E2B5B;
  }
  /* change the brand and text color */
  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-text {
    color: white;
  }
  /* change the link color */
  .navbar-custom .navbar-nav .nav-link {
    color: white;
  }
  /* change the color of active or hovered links */
  .navbar-custom .nav-item.active .nav-link,
  .navbar-custom .nav-item:hover .nav-link {
    color: #FFC107;
  }
  
  .navbar-toggler-icon{
    color:white;
  }
  